@model IEnumerable<MoviesLand.Models.Movie>



<div class="container">
    <div>
        @Html.ActionLink("Create", "New", null, new { @class = "btn btn-primary" })
    </div>
    <br />
    <br />
    <table id="movieForm" class="table table-hover ">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Title, "Details", new { movie.Id }, null)</td>
                    <td>@movie.NumberInStock</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = movie.Id }, new { @class = "btn btn-sm" }) |
                        <button data-movie-id="@movie.Id" class="btn btn-sm btn-danger js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<style>
    .table {
        margin: auto;
        width: 70%;
    }
</style>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movieForm").DataTable();

            $("#movieForm").on("click", ".js-delete", function () {

                let button = $(this);
                bootbox.confirm("Are you sure you want to delete this Movie?", function (response) {
                    if (response) {
                        $.ajax({
                            url: "api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            })
        })
    </script>
}
