@model IEnumerable<MoviesLand.Models.Movie>



<div class="container">
    <div>
        @Html.ActionLink("Create", "New", null, new { @class = "btn btn-primary" })
    </div>
    <br />
    <br />
    <table class="table table-hover ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Stock
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(movie.Title, "Details", new { movie.Id }, null)
                </td>
                <td>
                    @movie.NumberInStock
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = movie.Id }, new { @class = "btn" })
                </td>
            </tr>
        }
    </table>
</div>


<style>
    .table {
        margin: auto;
        width: 60%;
    }
</style>
